@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Sniglet", cursive;
}
@layer components {
  .gradient {
    background-image: url("../public/images/gradient.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
