@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Sniglet", cursive;
}
::web
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

body{
  overflow-x: hidden;
}
@layer components {
  .gradient {
    background-image: url("../public/images/gradient.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .main-background {
    background-image: url("../public/images/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

